:root {
    --clr-dark: #1E2022;
    --clr-light: #F0F5F9;
    --clr-blue: #e2e9ee;
    --clr-gray: #52616B;
}

* {
    font-family: 'DM Sans', sans-serif;
    list-style: none;
}

body {
    position: relative;
}

.navbar-brand {
    font-family: 'Bakbak One', cursive;
    font-size: 1.8rem;
    color: var(--clr-blue);
}

.nav-link {
    font-weight: 500;
    font-size: 1rem;
}

.navbar-brand,
.nav-link.active {
    color: var(--clr-dark) !important;
}

.main-header {
    font-size: 2.75rem;
    font-weight: bold;
    color: var(--clr-dark);
}

.text-content {
    letter-spacing: .025rem;
    font-size: .95rem;
    color: var(--clr-gray);
}

.my-photo {
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--clr-dark);
}

#about {
    background-color: var(--clr-light);
}

.main-content {
    margin-top: 6.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--clr-dark);
}

.main-content span {
    font-size: 1rem;
    color: var(--clr-gray);
}

.text {
    margin-top: 2rem;
    font-weight: bold;
}

.btn {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.btn:hover {
    color: var(--clr-blue);
    background-color: var(--clr-dark);
    border-color: var(--clr-dark);
}

.btn:hover i {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

i {
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.mytable {
    scroll-margin-top: 4rem;
}

.mytable>tbody>tr>td,
.mytable>tbody>tr>th {
    cursor: pointer;
    padding: .75rem 1rem;
}

@media (min-width: 576px) {
    .main-header {
        font-size: 4rem;
    }
}